<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>For</title>
    <!-- 开发环境版本，包含了用帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app-3">
    <p v-if="seen">你看看</p>
</div>
<div id="app-4">
    <ul>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ul>
</div>
</body>
<script>
    app = new Vue({
        el:"#app-3",
        data:{
            seen:true
        }
    });
    app1 = new Vue({
        el:"#app-4",
        data:{
            todos: [
                { text: '学习 JavaScript' },
                { text: '学习 Vue' },
                { text: '整个牛项目' }
            ]
        }
    })
</script>
</html>